.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

body{
  background-image: url("https://wallpapercave.com/wp/wp6534165.jpg");
  background-size: 100%;
  justify-content: center;
}

#todoList {
  background-image: url("https://media.istockphoto.com/id/163991732/photo/grunge-paper-background.jpg?b=1&s=170667a&w=0&k=20&c=zK8LqamS49ujQIHHQ9Fu3NOr7TvMSfj3_wJXfOCO628=");
  background-size: auto;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

  text-align: start;
  text-indent: 10px;
}

h1 {
  font-family: 'Hind Madurai', sans-serif;
  color: #b33c00;
  text-decoration: underline;
}

li, p {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.2rem;
  color: #663300;
}